<h1>About alter.</h1>
<p>
  alter is all about them.<br/>
  alter isn't about having users, selling data, and making money.<br/> It's all about giving pets a second chance for an alter, better life. <br/>
  No registration, no personal information needed. <br/>
  A total free pets ad board. <br/>
  <br/>
  THEY ARE'NT A BRAND, THEY ARE'NT FOR SALE!
</p>